.articles-section {
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}


.articles-title  {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 70px;
}

.articles-title h2 {
  font-size: 42px;
  font-weight: 800;
}

.articles-title h2 span {
  color: #e63946;
}


.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
}

.article-card {
  background-color: #111;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s;
}

.article-card:hover {
  transform: translateY(-5px);
}

.article-image-wrapper {
  position: relative;
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  color: #fff;
  font-size: 0.75rem;
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 3px;
}

.article-content {
  padding: 20px;
}

.article-date {
  font-size: 0.75rem;
  color: #ff0000;
  margin-bottom: 10px;
}

.article-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-description {
  font-size: 0.9rem;
  line-height: 1.4;
}

.read-more-btn {
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  background-color: #cc0000;
}
